/* Viking Deals bar */
#vikingdeals-bar .vikingdeals-button {
    text-transform: none !important;
}

/* General Partners */
body.vd-bol_com .header-section--search.fixed,
body.vd-america-today .page-header,
body.vd-travelbird .header-new,
body.vd-ibood header.docked .menu-top,
body.vd-cheaptickets .search-results-header,
body.vd-cheaptickets .main-header.main-header--sticky,
body.vd-cheaptickets .loader,
body.vd-jackjones .servicebar,
body.vd-jackjones .lightbox-overlay,
body.vd-jackjones .lightbox-overlay-close,
body.vd-jackjones .top-navigation-search .search__control,
body.vd-veromoda .servicebar,
body.vd-veromoda .lightbox-overlay,
body.vd-veromoda .lightbox-overlay-close,
body.vd-veromoda .top-navigation-search .search__control,
body.vd-1dayfly #header-top {
    top: 50px !important;
}
    
/* Coolblue */
body.vd-coolblue.sticky-header {
    padding-top: 103px !important;
}
body.vd-coolblue .coolblue-bar {
    margin-top: 50px !important;
}

/* CheapTicket */
body.vd-cheaptickets .flight-results-section,
body.vd-cheaptickets .filter__container,
body.vd-cheaptickets .flight-details__panel {
    top: 116px;
}

/* A.S.Adventure */
body.vd-asadventure header.header {
    margin-top: 53px;
}

/* Booking.com */
body.vd-booking-com {
    background-position: 0px 0px !important;
}

/* Jack & Jones // Vero Moda */
body.vd-jackjones .menu-top-navigation,
body.vd-veromoda .menu-top-navigation{
    top: 110px !important;
}

/* 1DayFly */
body.vd-1dayfly #header-shops {
    top: 153px! important;
}
